@-moz-document domain("open.spotify.com") {

    /*
    [data-testid="home-page"] section.a8b052ab945f8d056679d7f3ff013e05-scss:nth-child(2),
    */


    [role="banner"],
    [aria-label="Upgrade to Premium"],
    [href="https://www.spotify.com/premium/"],


    /* trash sometimes
    
    [aria-label="Good morning"],
    [aria-label="Good evening"],
    [aria-label="Good afternoon"],
    */

    /*trash*/
    [aria-label="Stories of Resilience"],
    [aria-label="Finding Moments of Joy"],
    [aria-label="Podcasts"],
    [aria-label="Shows to try"],
    [aria-label="New episodes"],
    [aria-label="Comedy hour"],
    [aria-label="Get inspired"],
    [aria-label="Get creative"],
    [aria-label="Thrillers"],
    [aria-label="Shows you might like"],
    [aria-label="Episodes for you"],
    [aria-label="Your top shows"],
    [aria-label="Stimulate your mind"],
    [aria-label="See beyond the headlines"],
    [aria-label="Find an edge"],
    [aria-label="Grow & improve"],
    [aria-label="15 minutes or less shows"],
    [aria-label="The Best of 2020"],
    [aria-label="The Top Tracks & Artists of 2020"],
    [aria-label="The Top Podcasts of 2020"],
    [aria-label="A Look Back at 2020"],
    [aria-label="Salut, România! Ascultă noile playlisturi locale."],
    [aria-label="Popular artists"],
    [aria-label="Happy"],
    [aria-label="Sad"],
    [aria-label="Chill"],
    [aria-label="Soundtrack your home"] {
        display: none !important;
    }

    Root__now-playing-bar {
        padding: 0 !important;
    }

    .CoLO4pdSl8LGWyVZA00t,
    .HsbczDqu9qjcYr7EIdHR {
        background: #000 !important;
    }

    .qJOhHoRcFhHJpEQ2CwFT.koyeY6AgGRPmyPITi7yO {
        background: transparent !important;
        border: none !important;
    }

    .oaNVBli46GtVjaQKB15g {
        border-radius: 20px;
    }

    .fVB_YDdnaDlztX7CcWTA {
        background: transparent;
        position: relative;
        top: 0;
    }

    .GD2gbRtcs5dOjMGAM_Y4 {
        border: none;
        background-image: linear-gradient(180deg, transparent, #000);
        background-color: transparent;
    }

    .q3ABXYJT9JZIzXOOtVuO,
    .Nd_DeCpszONzyaLe5Wd1 {
        border-radius: 100% !important;
    }

    .FBPrcmuqo3yv5UfWSRl5 {
        display: none !important
    }

    .n87ifzfQlmGX8vkeYGDL {
        background: #000 !important
    }

    .os-theme-spotify.os-host-transition>.os-scrollbar-horizontal>.os-scrollbar-track,
    .os-theme-spotify.os-host-transition>.os-scrollbar-vertical>.os-scrollbar-track,
    ._882abd309219af7e1e8e1e02344b1485-scss>.e5f169e4e89cc264cd5e155ead28f3e3-scss,
    [dir=ltr] ._3a923fa2dfd1f66547507cb7a617062d-scss,
    .b4a9736d75036c6328dabc1a577c52d8-scss,
    ._9e10063a7b1e2d5f588e34f07376302a-scss,
    ._83d9fef4ae69148dc1fc9b8323f8528b-scss._2dc8cce76d72af90f5e00e781db42541-scss,
    [dir=ltr] .e606f708ec76d36e4cf363817b6b2ffd-scss,
    ._5931a1bdc4e2c62e1e17be9b00b0d69b-scss,
    .connect-header,
    .connect-device-list-container:before,
    .bc7c9ae746f75241583474d9ce4962a6-scss,
    ._2d88f15e3a701ff39cc8d2dfac3e93a6-scss,
    ._186766435454b6e18fec29440fbb9fc4-scss._110dbc41d89af63f97cdd8b7cd7fea47-scss._3f37264be67c8f40fa9f76449afdb4bd-scss,
    ._0ff5ca5c1643860a4cd4aae62b2dce61-scss,
    ._5c12c73a4f38b98340ea33803209fdc8-scss._4dfd6d092d9e182093e453606400f1cc-scss,
    li.b46bba08e80cdd2d0da8cca1e49c7440-scss:nth-of-type(3),
    .fe95e337e87d53791dab9dd02348aa2a-scss,
    ._3e75c7f07bdce28b37b45a5cd74ff371-scss .ghlXvf,
    ._3cfbde1fd9fecaaa77935664eeb6e346-scss,
    .GenericModal__overlay--afterOpen,
    .a98d1892d19293cd341dc08d12b68c46-scss,
    #tippy-4079,
    ._3e75c7f07bdce28b37b45a5cd74ff371-scss .hPiOwj,
    [dir=ltr] ._9329f4018e3f8175af6dd8af74580f3b-scss,
    ._44881e85bbb5cd28916f811dff7c6bf2-scss._3b68cfe0e56b5af0f7d01a8872187b6d-scss,
    .i0XB7255K_4QFLJsSGc_,
    .GGdmQ1RUtuGP7ClED7uf,
    .LYjxXjpwH_OcyNLfrD6T,
    .nhAGOnseLV9YjjTwc3Yw,
    .vHya50b3UkFYNHTZzkli,
    ._gb3COx2025M82OBe2sv,
    .SlVKIBH4Y1VOs40N2VUM,
    .kyn0AY4_gXWvbdivdFgP,
    .AjGA8L5ofNuu4OUL4WBr:after,
    .AjGA8L5ofNuu4OUL4WBr:before,
    [dir=ltr] .lilyiAOPw1BD7wToymZZ,
    ._mSbAWxlXgc2ONtpnuXQ:after,
    ._mSbAWxlXgc2ONtpnuXQ:before,
    .uHpYf1ZBMj9Ek7qAXTuf,
    ._ZB2JcJdiG6rpEgCd3sR,
    .CEzorVPz8qP2ufspPOAV,
    .divider,
    .btn-black,
    .btn-facebook,
    .btn-google,
    .sponsor-container {
        display: none !important;
    }

    .BL__GuO2JsHMR6RgNfwY {
        background-color: #000 !important;
    }

    .koyeY6AgGRPmyPITi7yO {
        position: inherit;
    }

    .Dp2w6qcdwpuRZJgiIj2v ul li:nth-child(3),
    .ERyo7m5f00o7ToFdGMCD ul li:nth-child(3),
    .gElGZCC5t3PfqkbOWWff,
    [dir="ltr"] .Upqw01TOXETOmR5Td7Dj,
    .Foyk_HJx16yh22JYmQ56,
    .eSMjmiD29Ox35O95waw6::before,
    .eSMjmiD29Ox35O95waw6::after,
    .cCPO3NculS0MYGNMH4_p,
    .Y_WW1akjiQKXSzCBalCD {
        display: none;
    }

    .T1xI1RTSFU7Wu94UuvE6 {
        background-image: linear-gradient(360deg, transparent, #000);
        background-color: transparent !important;
    }

    .kc0nmjJmNuPr8akFaK6s {
        transition: background .17s;
        border-radius: 20px;
    }

    .f2DTOjNfjAyj7fze7fMJ,
    .kc0nmjJmNuPr8akFaK6s:hover {
        border-color: #1db954;
        background: #1db954;
    }

    .Ft1cMGlqDsCbqmXQyeKN {
        background: #000 !important;
    }

    .dZPmmYYhskhqHJCAruvI {
        border: none !important
    }

    .facDIsOQo9q7kiWc4jSg {
        background-image: linear-gradient(360deg, transparent, #000) !important;
    }

    .MyW8tKEekj9lKQsviDdP.k2I8B0MzXkAJ6_s8okM7 {
        transform: scale(1) !important;
    }

    .T1xI1RTSFU7Wu94UuvE6 {
        opacity: 0 !important;
    }

    .uwzZYE9AYS0OMBzvAopr {
        background: #000;
        position: inherit;
    }

    .U05tnfKJjzV3lfrwRbLN {
        background-image: linear-gradient(180deg, transparent, #000);
        background-color: transparent !important;
        border: none !important;
    }

    .qQjVLTor_n_F9JTk0_5i,
    .U1Yw5UfcZ10iovn7gfK0,
    .MY4qsr64PO_8NOaB9atI,
    .rkw8BWQi3miXqtlJhKg0 {
        border-radius: 100% !important;
    }

    .o_W2RZJ_KM1kJJP017df {
        margin-bottom: 15px;
    }

    .aAr9nYtPsG7P2LRzciXc {
        transition: background .17s;
    }

    .fBTYgGyvIbHizHIj7AAX {
        border-color: #1db954 !important;
        background: #1db954;
    }

    .TDtuTogRL8jviFEsvnUh._lGm4iPHIA03Oi_QYU18 {
        min-height: 300px;
    }

    .TDtuTogRL8jviFEsvnUh.uSIZPbXx_93QrBRnZFuB {
        height: 30vh;
    }

    .CDv98R7yDY9_5P_JMBuj {
        border: none;
    }

    .XTkIJA5URQiX_97z10Cm {
        background-image: linear-gradient(180deg, transparent, #000);
    }

    ._O0uCBR2Y8Du91ewelbZ {
        background-image: linear-gradient(180deg, transparent, #000)
    }

    .O6evDj2xd8mSlS2qiPiG {
        background-image: linear-gradient(180deg, transparent, #000);
        z-index: 1 !important;
        position: relative;
        background-color: transparent !important;
        border-top: none !important;
    }

    .IKKDTlAtw1htuVSuLpLt,
    .FMNZJaO_Zs9C_4inzm52 {
        border-radius: 20px !important;
    }

    .Root__nav-bar {
        border-right: 1px solid rgba(17, 17, 17, .5);
        z-index: 9999;
    }

    .As3Zjda5GRce2xsTWjww,
    .We1fExPHxLIRmV0rZGNo,
    ._JKdvfJnHxRZ33nlei4Z,
    .rezqw3Q4OEPB1m4rmwfw {
        background: #000 !important;
        border: none !important;
    }

    .Root__now-playing-bar {
        background-color: transparent !important;
        z-index: 1;
        position: fixed;
        width: 100%;
        max-width: calc(100vw - var(--nav-bar-width));
        bottom: 0;
        background-image: linear-gradient(180deg, transparent, #000);
        box-shadow: 0px 15px 20px -15px #000;
        right: -9px;
    }

    .Hn_m1H5t0xMhZa46UHuC {
        opacity: 0 !important;
        background-color: transparent !important;
    }

    .main-view-container__scroll-node-child-spacer {
        background-color: transparent !important;
        height: 90px;
    }

    .gHImFiUWOg93pvTefeAD {
        background: #000 !important;
    }

    .lEsg6gi7HowFgzWl_634 {
        position: fixed;
        top: auto;
    }

    ._pdJoBZEN29jt4YqpWTq,
    ._ZhbiHuTGHCAQ_asJSw9,
    .fSKBdxsPEB5WUAJWTYlh {
        background: #000 !important;
    }

    ._77ZnlZoTKshnd3uWfXf,
    .CPgTPk9wPOVigmNI6xWP {
        color: #eee;
    }

    .dIwMadpRrW1PwEwEeAbN {
        color: #eee;
        background: #282828;
    }

    .pI6Qf_QH5K9jtZ1uwmYf,
    .VkV76XVWydqmOUDSr_51,
    ._fvd5Owa47kK9H48h7mL,
    .cover-art .cover-art-image,
    .cover-art,
    .r_mJR0KE8xd8gpziM46P,
    .vRDvp_8qlFh9hMHvQoF1,
    ._AicLTqbkTBeib40qoQO,
    .eA8yfKlRGAwabewGOQEf,
    .Fy0HazWVKsw9Fg95AnSR,
    .byhpDrPqhYGoCXVANcn9 {
        border-radius: 100%;
    }

    .logo .spotify-logo--text {
        max-width: inherit;
        width: 100%;
    }

    .LcjM521yr5D14A54HbQl {
        background: #000;
        top: 150px;
    }

    .OmD_FQXAkkitfHLQSgzw {
        border: none !important;
    }

    .otEU_EZbRRfQ3N8GjRXp {
        padding: 0 34px;
    }

    .ExtraControls {
        padding-right: 8px;
    }

    .aAr9nYtPsG7P2LRzciXc:hover,
    .fBTYgGyvIbHizHIj7AAX,
    .aAr9nYtPsG7P2LRzciXc {
        border-radius: 20px !important;
    }

    .vzMSLXDXM8yiYziBe_UK {
        background: none !important;
    }

    .NXiYChVp4Oydfxd7rT5r.XPjEhsPyuOvMZ9NsDrxT {
        background-image: linear-gradient(180deg, transparent, #000) !important;
        height: 37vh !important;
    }

    ._2411182f42f92a221e29c993de036981-scss {
        background: rgba(0, 0, 0, 0.9);
    }

    .b00fbb9732b9fe65ded1ba887be5aef9-scss {
        top: 0;
        width: 100%;
        position: fixed;
    }

    .Root__top-bar {
        background-image: linear-gradient(360deg, transparent, #000) !important;
    }

    .connect-device-list-container {
        position: fixed;
        right: 30px;
        bottom: 100px;
        max-height: none;
        border: 1px solid rgba(17, 17, 17, .5) !important;
        background: transparent;
    }

    .connect-info,
    .connect-device-list-content {
        padding-bottom: 7px;
    }

    ._2qGqWaiZbWlHPjjDGxS:hover,
    .iIqN__BtJ7Fh8CWMJ2kG {
        border-color: #111;
        background: #18D860;
        color: #111;
    }

    ._2qGqWaiZbWlHPjjDGxS {
        transition: background .17s;
    }

    .h4DQmL9PpLcsYvf0yGno {
        background: #282828 !important;
    }

    ._882abd309219af7e1e8e1e02344b1485-scss>.e5f169e4e89cc264cd5e155ead28f3e3-scss+:nth-child(2) {
        margin: auto;
        max-width: 100%;
        width: 100%;
        grid-column: 1/8;
    }

    ._1066d722d4c5fe45076daa358de0a969-scss,
    ._7ae3a7b5ef70bce1740ff486c4467d56-scss,
    ._7f29d1db930e7882d0ee6099f36e3bc7-scss {
        background: none !important;
    }

    ._7f29d1db930e7882d0ee6099f36e3bc7-scss {
        opacity: 1 !important;
        margin-top: -12px;
    }

    ._59ed5f1313c7c4b211995d2b6463683f-scss {
        opacity: 0;
    }

    ._82a78ff58d3fcba0cb9b8083fe6dd05c-scss,
    ._235729a60d5e265806e8509d8633b779-scss {
        background-color: transparent;
        border-top: none;
    }

    .connect-info,
    .connect-device-list-content {
        padding: 20px;
        background: #000;
    }

    ._21cde20d40a70b4f64e79a5e6417c29f-scss,
    .f1567c3f58216436b30f34eadfc83a8f-scss,
    ._83d9fef4ae69148dc1fc9b8323f8528b-scss._2dc8cce76d72af90f5e00e781db42541-scss,
    .connect-device-list-item,
    html,
    body,
    ._XX7ZgHsEhiQ3gO0kz5Q,
    .fKGsDq,
    .Ls_vOXs4pDLU_q2Tv86a,
    .iB16LxoPzDeVZo8zPhPQ,
    .uebZpDr3EwDvpO0w6P9U {
        background: #000 !important;
    }

    .b51affc9f26a5c8f65a387abdd375bef-scss {
        padding-left: 30px;
    }

    .e50fd4214085264775224bdf740f9c28-scss {
        padding-right: 20px;
    }

    .main-view-container__scroll-node-child {
        padding-top: 0px;
        padding-bottom: 100px;
    }

    .connect-device-list-content {
        padding-top: 0;
    }

    .os-host-resize-disabled.os-host-scrollbar-horizontal-hidden>.os-scrollbar-vertical {
        opacity: 0;
        transition: none;
    }

    .cb058aaa130f94dc530397320e704de2-scss {
        margin-top: 0;
    }

    ._4c3b6e4e88112fc8ef88512cbe7521ed-scss.b922193db5f1fbddd0ac1467645b8194-scss {
        height: 0;
        background: #000;
    }

    ._4c3b6e4e88112fc8ef88512cbe7521ed-scss.da51a6e223c7200d373a2fd0614d7c33-scss {
        min-height: 300px;
    }

    div._414bac771fae2b1c719bfa54e768936d-scss {
        grid-column: span 1;
        height: 100%;
    }

    .e7c3d1a9189832a9f2cbe80dfdf503f5-scss {
        margin: auto;
    }

    ._4927510282dae1bd4bce47f1df0bc361-scss {
        font-size: 25px;
    }

    #tippy-114 {
        transform: translate(730px, 150px) !important;
    }

    ._888a8dffe06d27b161f0258c2769069e-scss,
    .ff6a86a966a265b5a51cf8e30c6c52f4-scss:hover,
    ._110dbc41d89af63f97cdd8b7cd7fea47-scss {
        border-color: #1db954;
        background: #1db954;
    }

    .de070095f1acc3b916f7d894db9c3cea-scss {
        border-top: none;
    }

    ._8ffcbd2689adedee867afcf5090b6fd4-scss,
    ._4927510282dae1bd4bce47f1df0bc361-scss {
        text-align: center;
    }

    ._3cfbde1fd9fecaaa77935664eeb6e346-scss,
    ._45331a50e3963ecc26575a06f1fd5292-scss {
        white-space: inherit;
    }

    ._098f19e4e257ef05dd9cf335bd1573d0-scss {
        margin-bottom: 15px;
    }

    ._4a554a2011f863554eb38d0dd9550c7d-scss {
        border-color: transparent;
    }

    html[dir=ltr] .be5c1eb819cc0cab1b07192e369fe88e-scss {
        -webkit-transform: rotate(25deg) translate(18%, 0%);
        transform: rotate(0deg) translate(-50%, 0%);
    }

    .c5d42a6a1f132e80cad79e45193e9e80-scss,
    .fbe9fd01f8ae7354e9082a5816a3300c-scss {
        text-align: center;
        width: 100%;
        padding-top: 30px;
    }

    html[dir=ltr] ._3be991b122f095750704a4ac004bf250-scss {
        -webkit-transform: rotate(25deg) translate(18%, 0%);
        transform: rotate(0deg) translate(-100%, 0%);
    }

    ._3e75c7f07bdce28b37b45a5cd74ff371-scss {
        pointer-events: none;
    }

    ._13fd81cfa106365843182a4dec1267b1-scss,
    .a2d114f8465b4517d0dcdf068d15e9cd-scss {
        padding-left: 0;
    }

    ._3e75c7f07bdce28b37b45a5cd74ff371-scss:focus,
    ._3e75c7f07bdce28b37b45a5cd74ff371-scss:hover,
    ._3e75c7f07bdce28b37b45a5cd74ff371-scss[data-context-menu-open=true],
    .gqeP9Y0_y6DLm4CD_m3Q {
        background-color: transparent;
    }

    .gqeP9Y0_y6DLm4CD_m3Q {
        border-top: none !important;
    }

    .main-view-container__scroll-node-child,
    .EGbXItTF_kUHbao1jeCp,
    .euOnte9wvOF0D_SGxEZ9,
    .Ic3iDUCnC09k55peZBfC,
    ._UFTK833WfTNGb4agRTd {
        background-color: transparent !important;
    }

    .fynR25MOeILQ7mCZ8247 {
        background: none !important;
        transition: none !important;
    }

    .head {
        filter: invert(1);
        border: none;
    }

    #login-to-continue,
    label,
    .h4,
    .h5 {
        color: #eee;
    }

    .btn-black {
        background: #111;
        color: #eee;
    }

    .btn-default {
        border: none;
        background: #111;
        color: #eee;
    }

    .form-control {
        background: #111;
        border-color: #333;
        color: #bbb;
    }

    .control-indicator {
        background: transparent;
    }

    .KrA8ZIJfc8j44C0nxKn2.mLG9eYDONp4rb_PGysHR {
        background-color: transparent !important;
        background-image: linear-gradient(180deg, transparent, #000) !important;
        min-height: fit-content;
        max-height: 340px;
    }

    /* Background layer */
    ._1YMukI_FrE7QRuUVSvq_Qe::after {

        /******     BACKGROUND FOR SPOTIFY JUST CHANGE URL :)   *********/
        background: url("https://raw.githubusercontent.com/cyberlapse/SpotifyStylishExtension/gh-pages/bokeh%20evergreen.jpg") !important;

        content: "";
        background-size: cover !important;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }


    /* Release Radar Cover Image */
    .cover-art-image.cover-art-image-loaded[style="background-image: url(\"https://i.scdn.co/image/0e2df44fc11eac228d51b88e394771b713d363a0\");"] {

        background-image: url("https://raw.githubusercontent.com/cyberlapse/SpotifyStylishExtension/gh-pages/dandelion_plant_flower_seeds_feathers_90323_1920x1080%20(2).jpg") !important;
    }

    /* Discover Weekly Cover Image*/
    .cover-art-image.cover-art-image-loaded[style="background-image: url(\"https://i.scdn.co/image/11258b6c69204820d79575e0587f415735db2350\");"] {

        background-image: url("https://raw.githubusercontent.com/cyberlapse/SpotifyStylishExtension/gh-pages/rockettakeoff.jpg") !important;
    }

    /* Import Font */
    @font-face {
        font-family: caviarDreams;
        src: url(https://cyberlapse.github.io/SpotifyStylishExtension/CaviarDreams.woff);
    }

    @font-face {
        font-family: caviarDreams;
        src: url(https://cyberlapse.github.io/SpotifyStylishExtension/CaviarDreams_Bold.ttf) format('truetype');
        font-weight: bold;
    }

    /*Fonts for links */
    .mo-info-name {
        font-family: caviarDreams;
        font-weight: normal !important;
    }

    h1,
    h2,
    .link-subtle {
        font-family: caviarDreams !important;
        font-weight: normal !important;
    }

    .contentSpacing h1 {
        letter-spacing: 6px;
    }

    .navBar-header {
        visibility: hidden !important;
    }

    /* Content Viewing */
    .playlist {
        padding-top: 70px;
    }

    .contentSpacing {
        padding: 0 2em;
        margin: 0 auto;
        max-width: 1480px;
        padding-top: 70px;
    }

    .entity-info {
        margin: 0 auto 1.5em;
        text-align: center;
        max-width: 400px !important;

        position: relative;
        top: 70px;
    }

    .tracklist-row--active .position,
    .tracklist-row--active .tracklist-duration,
    .tracklist-row--active .tracklist-name,
    .tracklist-row--active .tracklist-play-pause {
        color: #d88282 !important;
    }

    /* ADS BAR :'( */
    #main .root .top-container .main-view-container--has-ads .ads-container {
        padding-bottom: 200px;
        visibility: hidden !important;
    }


    /* NOW PLAYING */
    #main .root .nowPlayingBar-container {
        background-color: #181818;
        position: fixed;
        height: 47px;
        width: 100%;
        top: 0px;
        margin-bottom: 60px;
        z-index: 101;
        box-shadow: 5px 3px 4px rgba(20, 20, 20, 0.7);
    }

    /* DIV INSIDE NOW PLAYING */
    .now-playing-bar {
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 47px;
        padding: 0 16px;
    }


    /* LEFT SIDE NAV BAR */
    #main .root .top-container .nav-bar-container {
        width: 220px;
        position: fixed;
        top: 0px;
        left: 0;
        height: 100vh;
        z-index: 100;
        box-shadow: 2px 3px 5px rgba(20, 20, 20, 0.6);
        background-color: rgba(40, 40, 40, 0.70);

        overflow: auto;
        min-height: 0 !important;
        will-change: transform;
        margin-top: 70px !important;
    }

    .navBar-link--active,
    .navBar-link--active:focus,
    .navBar-link--active:hover {
        color: #cc7f7f;
    }

    .EYVkZXmTImKH4iH48N7Uj._1-aXXBO8bQU1WTFY-7B0m-:after {
        background-color: #6b4d4d !important;
    }

    .EYVkZXmTImKH4iH48N7Uj._1-aXXBO8bQU1WTFY-7B0m-:hover:after {
        background-color: #dddddd !important;
    }

    /* NOWPLAYING BUTTONS CONTAINER*/
    .player-controls__buttons {
        margin-bottom: 0px;
        cursor: default;
        display: -ms-flexbox;
        display: flex;
        width: 224px;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }

    /* Play button under album cover */
    .btn.btn-green:focus,
    .btn.btn-green {
        background-color: #6b4d4d !important;
        opacity: 0.7;
    }

    .btn.btn-green:focus,
    .btn.btn-green:hover {
        background-color: #bbbbbb !important;
        opacity: 0.7;
    }

    .btn.btn-fg-green {
        color: #bbbbbb !important;
    }

    /* NOWPLAYING PLAY BUTTON */
    .control-button {
        background-color: transparent;
        border: none;
        color: #6b4d4d;
        cursor: pointer;
        width: 26px;
        min-width: 26px;
        height: 26px;
        position: relative;
        transition: all 33ms cubic-bezier(.3, 0, .7, 1);
    }


    /* PROGRESS BAR */
    .progress-bar__fg {
        background-color: #6b4d4d;
        border-radius: 2px;
        height: 4px;
        width: 0;
        transition: background-color .1s cubic-bezier(.3, 0, .7, 1);
    }

    .progress-bar:hover .progress-bar__fg {
        background-color: #dddddd !important;
        border-radius: 2px;
        height: 4px;
        width: 0;
        transition: background-color .1s cubic-bezier(.3, 0, .7, 1);
    }

    /* PLAYLISTS */
    /*.JKKBXFILp09eIN4WugwgY { */
    ._1YMukI_FrE7QRuUVSvq_Qe {
        background-image: linear-gradient(rgb(66, 49, 60), rgb(8, 6, 8) 85%);


    }




    /* CONNECT DEVICES POPUP */
    .connect-device-list-container {
        position: absolute;
        width: 280px;
        bottom: -97vh;
        right: -124px;
        display: visible;
        background: #282828;
        border-radius: 5px;
        padding: 5px;
        z-index: 1002;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        transition: transform 333ms, opacity 333ms cubic-bezier(.3, 0, .7, 1);
    }

    /* small scroll window */
    .col-xs-12 .col-lg-3 .col-xl-4 .col-sticky {
        top: 70px;
    }

    /* SCROLLBAR STYLES */
    ::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    ::-webkit-scrollbar-thumb {
        background: #755351;
        border: 0px none #ffffff;
        border-radius: 50px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #704343;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #4d3535;
    }

    ::-webkit-scrollbar-track {
        background: #666666;
        border: 0px none #ffffff;
        border-radius: 50px;
    }

    ::-webkit-scrollbar-track:hover {
        background: #666666;
    }

    ::-webkit-scrollbar-track:active {
        background: #333333;
    }

    ::-webkit-scrollbar-corner {
        background: transparent;
    }

    @keyframes bgcol {
        0% {
            background: filter(brightness(100%));
        }

        100% {
            background: filter(brightness(300%));
        }
    }



    @keyframes bg {


        0% {
            filter: brightness(100%);
        }

        50% {
            filter: brightness(100%);
        }

        80% {
            filter: contrast(110%);
        }

        100% {
            filter: brightness(100%);
        }
    }


    @keyframes bground {
        0% {
            filter: hue-rotate(0deg);
        }

        40% {
            filter: hue-rotate(1deg);
        }

        50% {
            filter: hue-rotate(360deg);
        }

        100% {
            filter: hue-rotate(360deg);
        }

    }






    #main .root .top-container {
        animation-name: bground;
        animation-duration: 10s;
        animation-iteration-count: infinite;

        background: url("https://ch-clan.com/wp-content/uploads/2018/05/spotify3.jpg");

        background-attachment: fixed;
        background-position: center;





    }

    #main .root .nowPlayingBar-container {
        background: linear-gradient(135deg, transparent 22px, #33bb3324 22px, #33bb3300 24px, transparent 24px, transparent 67px, #33bb3300 67px, #33bb33 69px, transparent 69px), linear-gradient(225deg, transparent 22px, #33bb3300 22px, #33bb3300 24px, transparent 24px, transparent 67px, #33bb3300 67px, #c1c1c100 69px, transparent 69px)0 64px;
        background-color: #000000aa;
        background-size: 64px 128px;

    }

    .now-playing-bar-container {
        background-color: #0000;
    }

    /*PLAYER BAR*/

    .now-playing-bar {
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 97px;
        padding: 0 0px;
    }

    .player-controls__buttons {
        margin-bottom: 2px;
        width: 379px;
    }

    .control-button:hover {
        box-shadow: 0px 1px 100px 11px #000;

        transform: scale(1.2);
        transition: 0.3s;
    }

    .progress-bar__bg {
        background-color: #205a347a;
        border-radius: 0px;
        display: -ms-flexbox;
        display: flex;
        height: 18px;
        width: 100%;

        margin-top: -6px;
        transform: skew(-45deg);
    }

    .playback-bar__progress-time {
        font-size: 41px;
        line-height: 16px;
        letter-spacing: 0.015em;
        min-width: 125px;
        text-align: center;
        box-shadow: 0px 0px 100px 0px #000;
        font-weight: bold;

    }

    .progress-bar__fg {
        transition-property: background-color;
        transition-duration: .1s;
        transition-timing-function: cubic-bezier(1, 0, .7, 1);
        background-color: #1db954;
        border-radius: 0px;
        height: 18px;
        width: 0;
        margin-bottom: 2px;
    }


    .progress-bar__slider {
        transition-property: transform;
        transition-duration: .1s;
        transition-timing-function: cubic-bezier(1, 0, .7, 1);
        background-color: #00ff5a;
        border-radius: 0;
        width: 10px;
        height: 23px;
        margin-left: -6px;
        margin-top: -9px;
        z-index: 100;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
        transform: scale(0);
    }


    .now-playing {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-align: center;
        align-items: center;
        transform: scale(1.3) translateX(80px);
    }

    /* COVER */

    .cover-art .cover-art-image-loaded {

        transition: 0.3s;
        opacity: 0.95;
    }


    .cover-art.shadow {
        box-shadow: 0 0 200px 20px rgba(0, 0, 0, 1);
    }

    .cover-art {
        border-radius: 0px;
        opacity: 1;
        background: #0000;
        transform: scale(0.7);
    }

    .cover-art:hover {
        transition: 0.3s;
        opacity: 2;

    }

    .connect-bar {

        height: 2px;

    }

    #main .root .nowPlayingBar-container {
        transition: 2s;
        transform: translateY(65px);
        filter: brightness(0%);
        opacity: 0.01;

    }

    #main .root .nowPlayingBar-container:hover {
        transition: 0.1s;
        transform: translateY(0px);
        filter: brightness(100%);
        opacity: 1;

    }


    /*scrollbar*/

    ::-webkit-scrollbar {
        background: #303032;

        width: 8px;

        height: 8px;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    /*mozilla*/

    ::-webkit-scrollbar-track {
        border-left: 1px solid #303032;

        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);


    }

    ::-webkit-scrollbar-thumb {
        background: #1abb53;
        -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.27);
        border-radius: 0px;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);


    }

    ::-webkit-scrollbar-thumb:hover {
        background: #d87a7f;
        box-shadow: 0px 1px 60px 10px #5f53;

        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);


    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background: #1abb53;
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .btn {
        border-radius: 0px !important;
        transform: skew(-30deg);
        transition: 0.1s;
    }

    .btn:hover {
        transform: skewX(-30deg);

    }

    .btn.btn-transparent {

        transform: skewx(0deg);
    }



    .btn.btn-green {

        background-color: #1db9541a;
        padding: 11px 44px;
        border: solid 2px #1db954;
    }

    .btn.btn-green:hover {
        animation-name: greenbutton;
        animation-iteration-count: 1;
        animation-duration: 0.4s;
        background-color: #1db95444;
        padding: 11px 44px;
        border: solid 2px #1db954;
        transform: skew(-30deg);

    }

    .no-focus-outline .tracklist-row {
        outline: none;
        background: #fff0;
        margin: 6px;
        box-shadow: 0px 1px 100px 10px #00000087;
        transition: 0.4s;
    }

    .no-focus-outline .tracklist-row:hover {
        transition: 0.2s;

        animation-name: greenbuttontrack;
        animation-iteration-count: 1;
        animation-duration: 0.2s;
        background-color: #1db95444;


    }

    .spoticon-ellipsis-24 {
        transition: 0.3s;
        transform: scale(0.8);
    }

    .spoticon-ellipsis-24:before {
        content: "\F12C";
        font-size: 24px;
        position: relative;
        top: 1px;
        background: #fff3;
        padding-left: 7px;
        border-radius: 50%;
        padding-right: 5px;
        border: solid 1px #fff6;
        transition: 0.3s;


    }

    .nav-bar-container {

        background: #fff0;
        transition: 0.4s;
        box-shadow: 0px 1px 100px 10px #00000087;

    }

    .nav-bar-container:hover {

        transition: 0.2s;
        background: #0005;

        box-shadow: 0px 1px 100px 10px #00000087;

    }

    .link-subtle:hover {

        transition-duration: .2s;
        transition: 0.3s;
        padding-bottom: 2px;
        border-bottom: solid 2px #1abb53;
    }

    .link-subtle {

        transition-duration: .2s;
        transition: 0.3s;
        padding-bottom: 2px;
        border-bottom: solid 2px #1abb5300;
    }

    .container-fluid {
        background: 0;

    }

    header.artist-header:before {
        background: 0;
    }

    .artist-appears-on,
    .artist-music,
    .artist-singles {
        background: 0;
    }

    /*SEARCH BAR*/
    .inputBox {
        position: relative;
        background-color: #0000003b;
        padding: 32px 0;
        border-bottom: solid 1px #0008;
    }


    .is-connectBarVisible .main-view-container {
        padding-bottom: 100%;
    }

    /*SEARCH BAR*/

    .nav-bar-container {
        transition: 2s;
        transform: translateX(-65px);
        filter: brightness(0%);
        opacity: 0.01;

    }

    .nav-bar-container:hover {
        transition: 0.1s;
        transform: translateX(0px);
        filter: brightness(100%);
        opacity: 1;

    }

    .main-view-container {

        padding: 0;

        transition: 0.2s;
    }

    .react-contextmenu {

        background-color: #2828285e;
        color: #ccc;

        transition: 0.2s;

    }

    .react-contextmenu-item.active,
    .react-contextmenu-item:hover {

        background: #1abb53a3;
        color: #fff;
        animation-name: greenbuttontrack;
        animation-iteration-count: 1;
        animation-duration: 0.3s;
        transition: 0.2s;

    }

    .react-contextmenu-item {
        color: #ccc;


    }

    .Root__main-view {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }

    ._0fa4a2c008526158220d273015a9f324-scss,
    ._4c3b6e4e88112fc8ef88512cbe7521ed-scss,
    .ba7f7eeadfc8a4912c6f6c1b1a71e236-scss,
    .f755ab0acf3fb9093290c866bcfd7831-scss,
    .f1567c3f58216436b30f34eadfc83a8f-scss,
    .Root__main-view .contentSpacing {
        padding-left: calc(var(--nav-bar-width) + 32px);
    }

    .main-view-container__scroll-node-child {
        padding-bottom: calc(var(--size--now-playing) + 32px)
    }

    .main-view-container__scroll-node>.os-scrollbar-vertical {
        padding-bottom: calc(var(--size--now-playing) + 2px)
    }

    .main-view-container__scroll-node>.os-scrollbar-horizontal {
        margin-bottom: calc(var(--size--now-playing) + 2px)
    }

    .main-view-container__scroll-node .os-resize-observer-host.observed {
        height: calc(100vh - var(--size--now-playing))
    }

    ._59ed5f1313c7c4b211995d2b6463683f-scss {
        display: none;
    }

    ._4c3b6e4e88112fc8ef88512cbe7521ed-scss.b922193db5f1fbddd0ac1467645b8194-scss,
    .c108b4ada40c10926b10bba3ff614fd0-scss {
        height: 60vh;
    }

    ._1066d722d4c5fe45076daa358de0a969-scss,
    .c108b4ada40c10926b10bba3ff614fd0-scss {
        -webkit-mask-image: linear-gradient(black 65%, transparent 95%);
        mask-image: linear-gradient(black 65%, transparent 95%);
    }

    /* Frosted/Translucent Background */
    ._83d9fef4ae69148dc1fc9b8323f8528b-scss._2dc8cce76d72af90f5e00e781db42541-scss,
    ._186766435454b6e18fec29440fbb9fc4-scss,
    ._8bfd0bd3ba9dd8201e38b1622bc74fb6-scss,
    .Root__now-playing-bar,
    .Root__nav-bar {
        background: var(--overlay-heavy)
    }

    ._82a78ff58d3fcba0cb9b8083fe6dd05c-scss,
    .now-playing-bar-container {
        background: transparent
    }

    ._83d9fef4ae69148dc1fc9b8323f8528b-scss._2dc8cce76d72af90f5e00e781db42541-scss,
    ._186766435454b6e18fec29440fbb9fc4-scss,
    ._82a78ff58d3fcba0cb9b8083fe6dd05c-scss,
    .now-playing-bar-container {
        border: none !important
    }

    ._2dc8cce76d72af90f5e00e781db42541-scss {
        margin: 0 -33px 16px;
        padding: 0px 33px
    }
}